.full-col.col-xs-12
  #home_carousel.carousel.slide{'data-ride' => 'carousel'}
    .carousel-inner{role: 'listbox'}
      - @images.each_with_index do |image, i|
        - active = i == 0 ? 'active' : ''
        .item{class: active}
          %img{src: "http://#{image[:src]}"}
    %a.left.carousel-control{"data-slide" => "prev", :href => "#home_carousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#home_carousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
.clearfix
.col-xs-12.col-md-10.col-md-offset-1
  %hr
  %p.lead Looking for high quality and personal service, you’ve come to the right place. At Structured Media Systems, Utah's Media Company, we’ll give you the attention and personal service you’ll come to expect and enjoy.
  %p.lead We offer Utah's best in all types of Home Entertainment and Home Automation. Our rates are competitive, with no hidden fees. Our employees are friendly and will bt  here to help you every step of the way, from design to install.
  %p.lead Structured Media Systems, Utah's Media Company has offices in Draper and Santa Clara. Let us put our experience to work for you.
  %hr
  %h2.text-center.underline Featured Authorized Products
  #brand_carousel.brand-carousel.carousel.slide.left{'data-ride' => 'carousel'}
    .carousel-inner{role: 'listbox'}
      .item.active
        %a{href: 'http://www.sonos.com', target: '_blank'}
          %img.brand-logo{src: image_path('sonos-logo.jpg')}
      .item
        %a{href: 'http://www.control4.com', target: '_blank'}
          %img.brand-logo{src: image_path('control4-logo.png')}
    %a.left.carousel-control{"data-slide" => "prev", :href => "#brand_carousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#brand_carousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
  #brand_carousel_2.brand-carousel.carousel.slide.right{'data-ride' => 'carousel'}
    .carousel-inner{role: 'listbox'}
      .item.active
        %a{href: 'http://www.lutron.com', target: '_blank'}
          %img.brand-logo{src: image_path('lutron-logo.jpeg')}
      .item
        %a{href: 'http://www.optomausa.com', target: '_blank'}
          %img.brand-logo{src: image_path('optoma-logo.png')}
    %a.left.carousel-control{"data-slide" => "prev", :href => "#brand_carousel_2", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#brand_carousel_2", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
  #brand_carousel_3.brand-carousel.carousel.slide{'data-ride' => 'carousel'}
    .carousel-inner{role: 'listbox'}
      .item.active
        %a{href: 'http://www.pioneerelectronics.com', target: '_blank'}
          %img.brand-logo{src: image_path('pioneer-logo.jpeg')}
      .item
        %a{href: 'http://www.bose.com', target: '_blank'}
          %img.brand-logo{src: image_path('bose-logo.jpg')}
    %a.left.carousel-control{"data-slide" => "prev", :href => "#brand_carousel_3", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#brand_carousel_3", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
