.container
  .full-col.col-xs-12
    #home_carousel.carousel.slide{'data-ride' => 'carousel'}
      .carousel-inner{role: 'listbox'}
        .item{class: 'active'}
          %img{src: image_path('great-room-half-open.jpg')}
.clearfix
.col-xs-12.col-md-10.col-md-offset-1
  %hr
  %p.lead UtahLED brings you the best in Home Automation and Entertainment Systems. Whatever you can imagine we will be with you throughout the design, install, and follow up process.  Reach out to us today to begin your experience.  We are located in Draper and Saint George Utah.
  %hr
  %h2.text-center Featured Brand Products
  %hr
  #brand_carousel.brand-carousel.carousel.slide.left{'data-ride' => 'carousel'}
    .carousel-inner{role: 'listbox'}
      .item.active
        %a{href: 'http://www.sonos.com', target: '_blank'}
          %img.brand-logo{src: image_path('sonos-logo.jpg')}
      .item
        %a{href: 'http://www.speakercraft.com', target: '_blank'}
          %img.brand-logo{src: image_path('speakercraft-logo.jpg')}
    %a.left.carousel-control{"data-slide" => "prev", :href => "#brand_carousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#brand_carousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
  #brand_carousel_2.brand-carousel.carousel.slide.right{'data-ride' => 'carousel'}
    .carousel-inner{role: 'listbox'}
      .item.active
        %a{href: 'http://www.lutron.com', target: '_blank'}
          %img.brand-logo{src: image_path('lu-logo.jpeg')}
      .item
        %a{href: 'http://www.epson.com', target: '_blank'}
          %img.brand-logo{src: image_path('epson-logo.jpg')}
    %a.left.carousel-control{"data-slide" => "prev", :href => "#brand_carousel_2", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#brand_carousel_2", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
  #brand_carousel_3.brand-carousel.carousel.slide{'data-ride' => 'carousel'}
    .carousel-inner{role: 'listbox'}
      .item.active
        %a{href: 'http://www.samsung.com', target: '_blank'}
          %img.brand-logo{src: image_path('samsung-logo.jpg')}
      .item
        %a{href: 'http://www.originacoustics.com', target: '_blank'}
          %img.brand-logo{src: image_path('origin-logo.jpeg')}
    %a.left.carousel-control{"data-slide" => "prev", :href => "#brand_carousel_3", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#brand_carousel_3", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
