.row
  %h2.text-center Authorized Products
  %hr
  %h3.text-center.underline Audio Products
  .col-xs-12.col-md-6.col-md-offset-1
    #brand_carousel_1.carousel.slide.left{'data-ride' => 'carousel'}
      .carousel-inner{role: 'listbox'}
        .item.active
          %a{href: 'http://www.sonos.com', target: '_blank'}
            %img.authorized-logo{src: image_path('sonos-logo.jpg')}
          .visible-xs.clearfix
            %hr
        .item
          %a{href: 'http://www.paradigm.com', target: '_blank'}
            %img.authorized-logo{src: image_path('paradigm-logo.jpg')}
          .visible-xs.clearfix
            %hr
      %a.left.carousel-control{"data-slide" => "prev", :href => "#brand_carousel_1", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#brand_carousel_1", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next
  .col-xs-12.col-md-4
    #brand_carousel_2.carousel.slide.left{'data-ride' => 'carousel'}
      .carousel-inner{role: 'listbox'}
        .item.active
          %a{href: 'http://www.originacoustics.com', target: '_blank'}
            %img.authorized-logo{src: image_path('origin-logo.jpeg')}
        .item
          %a{href: 'http://www.speakercraft.com', target: '_blank'}
            %img.authorized-logo{src: image_path('speakercraft-logo.jpg')}
        .item
          %a{href: 'http://www.tdgaudio.com', target: '_blank'}
            %img.authorized-logo{src: image_path('davinci-group-logo.jpeg')}
      %a.left.carousel-control{"data-slide" => "prev", :href => "#brand_carousel_2", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#brand_carousel_2", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next
  .clearfix
  %hr
  %h3.text-center.underline Video Products
  .col-xs-12.col-md-6.col-md-offset-4
    #brand_carousel_3.carousel.slide.left{'data-ride' => 'carousel'}
      .carousel-inner{role: 'listbox'}
        .item.active
          %a{href: 'http://www.samsung.com', target: '_blank'}
            %img.authorized-logo{src: image_path('samsung-logo.jpg')}
        .item
          %a{href: 'http://www.epson.com', target: '_blank'}
            %img.authorized-logo{src: image_path('epson-logo.jpg')}
      %a.left.carousel-control{"data-slide" => "prev", :href => "#brand_carousel_3", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#brand_carousel_3", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next
  .clearfix
  %hr
  %h3.text-center.underline Automation Products
  .col-xs-12.col-md-6.col-md-offset-1
    #brand_carousel_4.carousel.slide.left{'data-ride' => 'carousel'}
      .carousel-inner{role: 'listbox'}
        .item.active
          %a{href: 'http://www.lutron.com/en-US/Residential-Commercial-Solutions/Pages/Residential-Solutions/ShadingSolutions.aspx', target: '_blank'}
            %img.authorized-logo{src: image_path('lutron-logo.jpeg')}
          .visible-xs.clearfix
            %hr
        .item
          %a{href: 'http://www.universalremote.com', target: '_blank'}
            %img.authorized-logo{src: image_path('urc-logo.jpeg')}
          .visible-xs.clearfix
            %hr
      %a.left.carousel-control{"data-slide" => "prev", :href => "#brand_carousel_4", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#brand_carousel_4", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next
  .col-xs-12.col-md-4
    #brand_carousel_5.carousel.slide.left{'data-ride' => 'carousel'}
      .carousel-inner{role: 'listbox'}
        .item.active
          %a{href: 'http://www.universalremote.com/solutions/total-control/', target: '_blank'}
            %img.authorized-logo{src: image_path('total-control-logo.jpg')}
        .item
          %a{href: 'http://www.lutron.com', target: '_blank'}
            %img.authorized-logo{src: image_path('lutron-lighting-logo.jpeg')}
      %a.left.carousel-control{"data-slide" => "prev", :href => "#brand_carousel_5", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#brand_carousel_5", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next
  .clearfix
  %hr