%h2.text-center About Us
%hr
.text-center
  %p.lead
    Structured Media Systems is the Home Technology and Entertainment Systems Company that provides affordable, cutting-edge products and service.  With 16 years of experience we offer you the product knowledge and expertise to design, install and service the project of your dreams.  Our employees are not only home technology experts   but are also  licensed electricians, a rarity in the industry.
  %p.lead
    At Structured Media Systems we know your home is where  families are raised memories are made.  Our contribution to your home will last long after we have finished your install.  For this reason, we strive for quality not only in our labor but in our products.  We only provide the highest quality products to give you the best experience possible.  With all our offerings from home automation to home entertainment systems, we know we can provide with the value you are looking for.