.container
  .row
    .col-sm-12.col-lg-12
      .panel
        .panel-heading
          %h3
            %i.icon-map-marker.main-color.font-n
            .font-m Showroom Location
        .panel-body
          #map{:style => "width: 100%; height: 200px;"}
  %hr
    .row
      .col-sm-4.col-lg-4
        .panel
          .panel-heading
            %h3
              %i.icon-pushpin.main-color
              .font-m Our Locations
          .panel-body
            %address
              %strong.font-m.underline Structured Media Systems
              %br
                .font-n
                  Draper, UT - Call For Appointment
                %br
                  %i.icon-phone-sign
                  Phone Number:
                  .font-n
            %address
              %strong.font-m.underline Structured Media Systems Showroom
              %br
                St George, UT
                .font-n
                  1301 West Sunset Blvd St. George UT 84095
                %br
                  %i.icon-phone-sign
                  Phone Number:
                  .font-n
        .panel
          .panel-heading
            %h3
              %i.icon-time.main-color
              .font-m Showroom Hours
          .panel-body
            %table.table.table-hover
              %thead
                %tr
                  %th.font-n Day
                  %th.font-n Time
              %tbody
                - ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'].each do |day|
                  %tr.success
                    %td.font-l
                      = day.capitalize
                    %td.font-l
                      8:30 AM
                      to
                      6:00 PM
                %tr.success
                  %td.font-l Saturday
                  %td.font-l
                    10:00 AM
                    to
                    4:00 PM
                %tr.danger
                  %td.font-l Sunday
                  %td.font-l Closed
      .col-12.col-lg-8
        .panel
          .panel-heading
            %h3
              %i.icon-envelope.main-color
              .font-m Feel free to contact us
          .panel-body
            %form#feedbackForm{:role => "form", method: 'post', action: '/send_feedback'}
              = hidden_field_tag :authenticity_token, form_authenticity_token
              .form-group
                %input#name.form-control{:name => "name", :placeholder => "Name", :type => "text", required: true}
                  %span.help-block{:style => "display: none;"} Please enter your name.
              .form-group
                %input#email.form-control{:name => "email", :placeholder => "Email Address", :type => "email", required: true}
                  %span.help-block{:style => "display: none;"} Please enter a valid e-mail address.
              .form-group
                %textarea#message.form-control{:cols => "100", :name => "message", :placeholder => "Message", :rows => "10", required: true}
                %span.help-block{:style => "display: none;"} Please enter a message.
              %button#feedbackSubmit.btn.red.pull-right.font-l{:style => "display: block; margin-top: 10px;", :type => "submit"} Send Feedback
