.services-box {
  text-align: center;
  margin-bottom: 5px;
  border-radius: 5px;
  .lead {
    margin-top: 15px;
  }
  .service-info {
    height: 300px;
  }
}

.services-box {
  height: 221px !important;
}
