%div{class: classes}
  = link_to "https://www.facebook.com/utahled", {target: '_blank'} do
    = fa_icon 'facebook-square', class: 'complimentary social-nav shadow black nav-item'
  = link_to "https://www.instagram.com/utahled", {target: '_blank'} do
    = fa_icon 'instagram', class: 'complimentary social-nav shadow black nav-item'
